html {
  font-family: "Public Sans", system-ui, sans-serif;
  font-weight: 400;
  color: #18181b;
}
*:focus:not(.focus-visible) {
  outline: none !important;
}

/* Optional: Customize .focus-visible */
.focus-visible {
  outline-color: lightgreen !important;
}

.currency {
  @apply font-semibold tracking-wider;
}
